{% extends 'administrador/index.html.twig' %}

{% block title %}{{parent()}} - Buscar Comercio{% endblock %}

{% block body %}

{{parent()}}

<h1 style="color:black; margin-top:60px;"><center>Comercios de la Empresa<center></h1>

{% if comercios is not same as("") and comercios is not null and comercios is not empty %}
<div class="container h-100 " style="margin-top:40px">
    <table id="tbComercio" class="table table-hover table-sm" style="border: 10px ridge SlateBlue;">
        <thead style="border-bottom-style:2px solid #24a690;">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>CIF</th>
                <th>Dirección</th>
                <th>Código Postal</th>
                <th>Teléfono</th>
                <th>Web</th>
                <th>Validez</th>
                <th style="width:20%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <div class="scrollit">
                            {% for comercio in comercios %}
                                <tr id ='{{comercio.id}}'>
                                    <td>{{comercio.id}}</td>
                                    <td>{{comercio.nombreComercio}}</td>
                                    <td>{{comercio.cif}}</td>
                                    <td>{{comercio.direccionComercio}}</td>
                                    <td>{{comercio.codigoPostal}}</td>
                                    <td>{{comercio.telefonoComercio}}</td>
                                    <td>{{comercio.webComercio}}</td>
                                    <td>{{comercio.validez}}</td>
                                    <td style="width:19%" align="center">                                   
                                        <button type="button" class="btn btn-link" onclick="location.href='{{ path('validarComercio', {id: comercio.id})}}'"><img height="24px" src="{{ asset('images/checks.png') }}" title="Validar"/></button>
                                        <button type="button" class="btn btn-link" onclick="location.href='{{ path('rechazarComercio', {id: comercio.id})}}'"><img height="24px" src="{{ asset('images/delete2.png') }}" title="Rechazar"/></button>
                                        <button type="button" class="btn btn-link" onclick="location.href='{{ path('consultarComercioAdmin', {id: comercio.id})}}'"><img height="24px" src="{{ asset('images/about.png') }}" title="Consultar"/></button>
                                        <button type="button" class="btn btn-link" onclick="location.href='{{ path('modificarComercioAdmin', {id: comercio.id})}}'"><img height="24px" src="{{ asset('images/contract.png') }}" title="Modificar"/></button> 
                                        <button type="button" class="btn btn-link" onclick="location.href='{{ path('eliminarComercioAdmin', {id: comercio.id})}}'"><img height="24px" src="{{ asset('images/garbage.png') }}" title="Eliminar"/></button>
                                    </td> 
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
               </td>
            </tr>
        </tbody>
    </table>
    <div class="container h-100 " style="margin-top:40px">
    <div class="form-row">
        <div id="boton_volver" class="form-group col-md-6">
            <button type="button" class="btn btn-default" onclick="history.back()">Volver</button>
        </div>
    </div>
    </div>
</div>
{% else %}
<div class="container h-100 " style="margin-top:40px">
    <p style="text-align:center">La empresa no posee ningun comercio</p>
    <button type="button" class="btn btn-default" onclick="history.back()">Volver</button>
</div>
{% endif %}

{% endblock %}

{% block content %}
{% endblock %}
