{% extends 'principal/index.html.twig' %}

{% block title %}Guía Comercial - Buscar Oferta{% endblock %}

{% block body %}

{{parent()}}

<h1 style="color:black; margin-top:60px;"><center>Ofertas del Comercio<center></h1>

{% if ofertas is not same as("") and ofertas is not null and ofertas is not empty %}
<div class="container h-100 " style="margin-top:60px">

    <table id="tbOferta" class="table table-hover table-sm" style="border: 10px ridge SlateBlue;">
        <thead style="border-bottom-style:2px solid #24a690;">
            <tr>
                <th>Descripción</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th style="width:20%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <div class="scrollit">
                            {% for oferta in ofertas %}
                                <tr id ='{{oferta.id}}'>
                                    <td>{{oferta.descripcion}}</td>
                                    <td>{{oferta.fechaInicio | date('d-m-Y  h:m:s')}}</td>
                                    <td>{{oferta.fechaFin | date('d-m-Y  h:m:s')}}</td>
                                    <td style="width:19%" align="center">                                   
                                        <button type="button" class="btn btn-link" onclick="location.href='{{ path('consultarOferta', {id: oferta.id})}}'"><img height="24px" src="{{ asset('images/about.png') }}" title="Consultar"/></button>
                                    </td> 
                                </tr>
                            {% endfor %}
                    </div>
               </td>
            </tr>
        </tbody>
    </table>
    <div class="container h-100 " style="margin-top:40px">
    <div class="form-row">
        <div id="boton_volver" class="form-group col-md-6">
            <button type="button" class="btn btn-default" onclick="history.back()">Volver</button>
        </div>
    </div>
    </div>
</div>
{% else %}
<div class="container h-100 " style="margin-top:40px">
    <p style="text-align:center">No se ha encontrado ninguna oferta para este comercio</p>
    <button type="button" class="btn btn-default" onclick="location.href='{{path('buscarComercio')}}'">Volver a la lista de Comercios</button>
</div>
{% endif %}

{% endblock %}

{% block content %}
{% endblock %}