{% extends 'principal/index.html.twig' %}

{% block title %}Guía Comercial - Consultar Oferta{% endblock %}

{% block body %}

{{parent()}}

<div id="informacionGeneral" class="row h-100-justify-content-center align-items-center " >
    <h1 style="color:black; margin-top:80px;"><center>Datos de la Oferta<center></h1>
    <div class="container h-100 " style="margin-top:30px; border: 10px ridge SlateBlue;">
        <div class="col-6 bg-white rounded my-3 p-5">

        <div class="form-row" style="margin-top:20px">
            <div id="campo_id_comercio" class="form-group col-md-6">
                {{ form_label(formulario.id_comercio) }}
                {{ form_widget(formulario.id_comercio, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="campo_img_oferta" class="form-group col-md-6">
                <img src="{{img_oferta}}" /> 
            </div>
        </div>

        <div class="form-row">
            <div id="campo_descripcion" class="form-group col-md-12">
                {{ form_label(formulario.descripcion)}}
                {{ form_widget(formulario.descripcion, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">    
            <div id="campo_fecha_inicio" class="form-group col-md-6">
                {{ form_label(formulario.fecha_inicio)}}
                {{ form_widget(formulario.fecha_inicio, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="campo_fecha_fin" class="form-group col-md-6">
                {{ form_label(formulario.fecha_fin) }}
                {{ form_widget(formulario.fecha_fin, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="boton_volver" class="form-group col-md-6">
                <button type="button" class="btn btn-default" onclick="history.back()">Volver</button>
            </div>
        </div>
        
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}